// @author Alexander Marenin
// @date November 2014

extends ../layout

block scripts
    script(src='/public/js//indexPage.js')

block header-buttons
    if isRunning
        .label.label-primary collecting screenshots...
    else
        a.btn.btn-default(href=route.COLLECT_SCREENSHOTS) Collect screenshots
    .label.label-info next run in #{nextRunIn}
    .label.label-info last run #{lastStart} ago
    if oldCount > 0
        .label.label-danger #{oldCount} old screenshots
    if noImageCount > 0
        .label.label-warning #{noImageCount} devices without screenshots
    if totalCount > 0
        .label.label-success #{totalCount} devices total

block content
    each img, index in images
        if index % 6 === 0
            .row
                each img in images.slice(index, index + 6)
                    .col-sm-2
                        div.block(class=img.state, data-toggle='modal' data-target='#device-modal', data-json=JSON.stringify(img))
                            h4= img.name
                                if img.isProcessing
                                    span.glyphicon.glyphicon-refresh.gly-spin
                                if img.haveScreenshot
                                    .right= img.elapsed
                            if img.haveScreenshot
                                img.img-responsive(src=img.url)
                            else
                                .center
                                    span.label.label-warning no screenshot
                            .so-well= img.comment ? img.comment : ''

    #device-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='device-modal-label', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#device-modal-label.modal-title Modal title
                .modal-body
                    #status-container
                        #last-update.label.label-default last update unknown
                        #is-old.label.label-danger old screenshot
                        #no-screenshot.label.label-warning no screenshot
                        #is-processing.label.label-success screenshooting now
                    #image-container
                        h4 Screenshot
                        a#full-image(href='#', target='_blank')
                            img.img-responsive
                    h4 Comment
                    textarea#modal-comment.form-control
                .modal-footer
                    button#delete-data.btn.btn-danger(type='button') Delete
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button#make-screenshot.btn.btn-info(type='button') Make screenshot
                    button#save-comment.btn.btn-primary(type='button') Save
