// @author Alexander Marenin
// @date November 2014

extends ../layout

block header-buttons
    if isRunning
        span.badge Collecting screenshots...
    else
        a.btn.btn-default(href=route.COLLECT_SCREENSHOTS) Collect screenshots

block content
    each img, index in images
        if index % 6 === 0
            .row
                each img in images.slice(index, index + 6)
                    .col-sm-2
                        div.block(class=img.state)
                            h4= img.name
                                if img.haveScreenshot
                                    .right= img.elapsed
                            if img.haveScreenshot
                                img.img-responsive(src=img.url)
                            else
                                .center
                                    span.label.label-warning no screenshot

