// @author Alexander Marenin
// @date November 2014

extends ../layout

block header-buttons
    if isRunning
        .label.label-primary collecting screenshots...
    else
        a.btn.btn-default(href=route.COLLECT_SCREENSHOTS) Collect screenshots
    .label.label-info next run in #{nextRunIn}
    .label.label-info last run #{lastStart} ago
    if oldCount > 0
        .label.label-danger #{oldCount} old screenshots
    if noImageCount > 0
        .label.label-warning #{noImageCount} devices without screenshots
    if totalCount > 0
        .label.label-success #{totalCount} devices total

block content
    each img, index in images
        if index % 6 === 0
            .row
                each img in images.slice(index, index + 6)
                    .col-sm-2
                        div.block(class=img.state)
                            h4= img.name
                                if img.haveScreenshot
                                    .right= img.elapsed
                            if img.haveScreenshot
                                a(href=img.url, target='_blank')
                                    img.img-responsive(src=img.url)
                            else
                                .center
                                    span.label.label-warning no screenshot
